
.background1 {
    background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/background.PNG) no-repeat center; 
    background-size: cover;
    height: 960px;
    @media only screen and (max-width: 360px){
    background-size: cover;
    font-weight: 50px;
     }
     
}
.about {
  &--pic {
    width: 390px;
    height: auto;
    @media only screen and (max-width: 991px){
      width: 362.43px;
    }
    @media only screen and (max-width: 420px){
      width: 300.43px;
      height: auto;
    }
   
  }
  &--dot {
    background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/dot4.png) no-repeat right;
    width: 200px;
    height: 190px;
    @media only screen and (max-width: 1024px){ 
      background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/dot4.png) no-repeat right;
      width: 200.91px;
      height: 188.97px;
    }
    @media only screen and (max-width: 767px){
      background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/dot4.png) no-repeat right top;
      width: 60.91px;
      height: auto;
    }

    @media only screen and (max-width: 420px){
      background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/dot4.png) no-repeat right top;
      margin: 25px;
      height: auto;
    }

  }
  &--ring {
    width: 161.58px;
    height: 161.58px;
    position: absolute;
    margin-left: 250px;
    margin-top: -42px;
    z-index: 1;
    @media only screen and (max-width: 1500px){
      margin-left: 320px;
    }
    @media only screen and (max-width: 1367px){
      margin-left: 255px;
    }
    @media only screen and (max-width: 1299px){
      margin-left: 250px;
    }
    @media only screen and (max-width: 1024px){
      margin-left: 100px;
    }  
    @media only screen and (max-width: 991px){
      width: 138.58px;
      height: 138.58px;
      margin-left: 2px;
      margin-top: 12px;
    }
    @media only screen and (max-width: 768px){
      margin-left: 20px;
      margin-top: -20px;
    }
    @media only screen and (max-width: 420px){
      width: 120.58px;
      height: 120.58px;
      margin-left: 2px;
      margin-top: -20px;
    }
    @media only screen and (max-width: 360px){
      width: 120.58px;
      height: 120.58px;
      margin-left: -9px;
      margin-top: -15px;
    }
  }
}

.dot--services{
    background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/dot1.PNG) no-repeat right;
    height: 346px;
    width: 292px;
    margin-left: 920px;
    margin-top: -480px;
    position: absolute;
    z-index: -5;
    @media only screen and (max-width: 1500px){
      margin-left: 1000px;
    }
    @media only screen and (max-width: 1367px){
      margin-left: 920px;
    }
    @media only screen and (max-width: 1024px){
      margin-left: 680px;
    }
    @media only screen and (max-width: 768px){
      margin-left: 450px;
     
    }
    @media only screen and (max-width: 420px){
       height: 260px;
       width: 255px;
      margin-left: 180px;
      margin-top: -375px;
  
}
    @media only screen and (max-width: 360px){
      height: 270px;
      width: 200px;
      margin-left: 180px;
      margin-top: -375px;
  
}

}
.padd-Portfolio{
  @media only screen and (max-width: 360px){
   padding: 3px; 
  }
  @media only screen and (max-width: 420px){
    padding: 5px;  
   }
   @media only screen and (max-width: 768px){
    margin: 30px;
    margin-left: 75px;
  
   }
   @media only screen and (max-width: 1024px){
  padding: 5px;
   }

}
.blog {
    &--background {
      background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/background2.PNG) no-repeat right;
      width: 851px;
      height: 1007.64px;
      position: relative;
      z-index: 1;
  
    }
    &--pic {
      width: 336px;
      height: 249px;
    }
  }
  .testimony--background {
    background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/testimony_back2.PNG) no-repeat left top; 
    height: 562px;
  }
  .comma--back{
    margin-top: -152px;
  }
  .downBar{
      background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/down.png) no-repeat center;
  }
  .form--bg {
    background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/form.png) no-repeat center top;
    margin-top: -60px;
    @media only screen and (max-width: 991px){
      margin-top: 40px;
    }
    @media only screen and (max-width: 420px){
      margin-top: 770px;

}
    @media only screen and (max-width: 360px){
      margin-top: 750px;

      
    }
  }
  .footer--back{
    background: url(https://anik904.github.io/Bootstrap_project-Agency-Website/assets/image/footer_back2.PNG) no-repeat center top; 
    background-size: contain;
    margin-top: -150px;

  }
  .footer--dot{
    height: 300px;
    width: 292px;
    margin-left: -160px;
    margin-top: -225px;
    position: absolute;
    @media only screen and (max-width: 1024px){
      margin-left: -200px;
    }
    @media only screen and (max-width: 768px){
      margin-left: -240px;

  }
  @media only screen and (max-width: 420px){
     margin-left: -278px;

}
    @media only screen and (max-width: 360px){
      margin-top: -180px;
      margin-left: -278px;
     

      
    }
  }
  .respn{
   
    @media only screen and (max-width: 768px){
      margin-top:50px;

  }
  @media only screen and (max-width: 360px){
    margin-top:100px;   
  }
}