.background1 {
    background: url(https://github.com/anik904/Bootstrap_project-Agency-Website/blob/master/assets/image/background.PNG) no-repeat center; 
    background-size: cover;
    height: 900px;
}
.about {
  &--pic {
    width: 390px;
    height: auto;
  }
  &--dot {
    background: url(https://github.com/anik904/Bootstrap_project-Agency-Website/blob/master/assets/image/dot4.png) no-repeat right;
    width: 200px;
    height: 190px;
  }
  &--ring {
    width: 161.58px;
    height: 161.58px;
    position: absolute;
    margin-left: 250px;
    margin-top: -42px;
    z-index: 1;
  }
}
.dot--services{
    background: url(https://github.com/anik904/Bootstrap_project-Agency-Website/blob/master/assets/image/dot1.PNG) no-repeat right;
    height: 346px;
    width: 292px;
    margin-left: 920px;
    margin-top: -480px;
    position: absolute;
    z-index: -5;
  
}
.blog {
    &--background {
      background: url(https://github.com/anik904/Bootstrap_project-Agency-Website/blob/master/assets/image/background2.PNG) no-repeat right;
      width: 851px;
      height: 1007.64px;
      position: relative;
      z-index: 1;
  
    }
    &--pic {
      width: 336px;
      height: 249px;
    }
  }
  .testimony--background {
    background: url(https://github.com/anik904/Bootstrap_project-Agency-Website/blob/master/assets/image/testimony_back2.PNG) no-repeat left top; 
    height: 562px;
  }
  .comma--back{
    margin-top: -152px;
  }
  .downBar{
      background: url(https://github.com/anik904/Bootstrap_project-Agency-Website/blob/master/assets/image/down.png) no-repeat center;
  }
  .footer--back{
    background: url(https://github.com/anik904/Bootstrap_project-Agency-Website/blob/master/assets/image/footer_back2.PNG) no-repeat center top; 
    background-size: contain;
    margin-top: -150px;
  }
  .footer--dot{
    height: 346px;
    width: 292px;
    margin-left: -160px;
    margin-top: -240px;
    position: absolute;
  }